.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.large {
  height: 600px;
}

.inner {
  --uib-size: 52px;
  --uib-color: #868c9b;
  --uib-speed: 1.3s;
  --uib-dot-size: calc(var(--uib-size) * 0.24);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--uib-dot-size);
  width: var(--uib-size);
}

.dot,
.inner::before,
.inner::after {
  content: "";
  display: block;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  transition: background-color 0.3s ease;
}

.inner::before {
  animation: pulse 1.3s ease-in-out 0.1625s infinite;
}

.dot {
  animation: pulse 1.3s ease-in-out 0.325s infinite;
}

.inner::after {
  animation: pulse 1.3s ease-in-out 0.4875s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.empty_message {
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #868c9b;
}
