.button {
  position: relative;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  overflow: hidden;
  cursor: pointer;
}

.button_inner {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #868c9b;
}

.button_cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #58a6ff, #c258ff);
  filter: blur(12px);
  z-index: 1;
}

.button:hover .button_cover {
  background-image: linear-gradient(to right, #9198e5, #e66465);
}

.widget_button_inner__m {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: normal;
}
