.container {
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  box-shadow: 2px 2px 16px #95959d4d;
  padding: 40px;
}

.csHeading {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.csBody {
  color: #fff;
}

.name {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.nameEn {
  font-size: 28px;
  font-weight: 500;
  color: #868c9b;
}

.nameJa {
  font-size: 16px;
  color: #868c9b;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.itemLabel {
  font-size: 20px;
  font-weight: 600;
  color: #868c9b;
}

.itemText {
  padding-left: 8px;
  font-size: 16px;
  color: #868c9b;
}

.itemValues {
  padding-left: 8px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 4px;
}

.itemValue {
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  border: 0.5px solid #ddd;
  /* box-shadow: 2px 2px 16px #95959d4d; */
  color: #868c9b;
}

/* サブコンテンツ */
.subcontent_body__empty {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #868c9b;
}

.contact_description {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  color: #868c9b;
}

.contact_button_wrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
