/* Breadcrumb.module.css */
.wrapper {
  margin-bottom: 32px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.breadcrumbLink {
  text-decoration: none;
  color: #0070f3;
}

.breadcrumbText {
  color: #666;
}

.breadcrumbIcon {
  margin: 0 8px;
  color: #999;
}
