@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1.4rem;
  font-family: 'Lato', 'Noto Sans JP', Quicksand, 游ゴシック体, yu gothic, YuGothic, ヒラギノ角ゴシック pro, hiragino kaku gothic pro, メイリオ, Meiryo, Osaka, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: .1em;
  color: #6a696c;
}
