/* Reset css. */
*,
::after,
::before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

::selection {
  background: rgba(245, 184, 61, 0.25);
}

html,
body {
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
  color: #2e444e;
  line-height: 1.6;
  font-family:
    Karla,
    'Lato',
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-variant-ligatures: common-ligatures;
  font-style: normal;
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0px;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

div {
  display: block;
}

ul,
ol {
  padding: 0;
}

ul li,
ol li {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

code {
  background: rgba(10, 10, 12, 0.1);
  border-radius: 2px;
  font-family:
    Karla,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    monospace;
  padding: 0px 0.1em;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
}

/* Base css. */
#root {
  position: relative;
  overflow: auto;
}
